<!-- Default style sheet -->
                p               { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; }
                body               { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; }
                h1               { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 20pt; }
                h2               { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 18pt; }
                h3               { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14pt; }
                h4               { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12pt; }
                a               { color: #CC6600; text-decoration: none; }
                a:visited       { color: #CC6600; }
                a:active        { color: #CC6600; }
                a:hover         { color: #CC6600; text-decoration: underline; }
                a.link          { color: #CC6600; }

                a.navigation    	{ color: #000000; text-decoration: none; font-weight: bold; }
                a:hover.navigation      { color: #000000; text-decoration: none; font-weight: bold; background: #CC6600; }
                a:visited.navigation    { color: #000000; text-decoration: none; font-weight: bold; }
                a:active.navigation     { color: #000000; text-decoration: none; font-weight: bold; }

                a.navigationnow 	{ color: #FFFFFF; text-decoration: none; font-weight: bold; background: #CC6600; }
                a:visited.navigationnow { color: #FFFFFF; text-decoration: none; font-weight: bold; background: #CC6600; }
                a:active.navigationnow  { color: #FFFFFF; text-decoration: none; font-weight: bold; background: #CC6600; }
                a.readmore      	{ font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; }

                select          { width: 100pt; background-color: #EFEFEF; border-style: 1px; font-size: 8pt; }
                option          { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; }
                .search         { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #CC6600; background-color: #EFEFEF;}
                .burst          { background: #CC6600 no-repeat center; text-align: center; }
		td		{ font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; }
	
		div		{ font-family: Verdana, Arial, Helvetica, sans-serif; }
		div.title	{ font-weight: bold; font-size: 12pt; }
                div.heading     { font-weight: normal; font-size: 11pt; }
                div.body	{ font-size: 10pt; margin-left: 1em; }
                div.navigation  { font-size: 10pt; }
                div.shortcuts   { font-weight: bold; font-size: 8pt; }
                div.news        { font-style: normal; font-size: 8pt; margin-left: 1em; }
                div.highlight   { font-size: 8pt; font-weight: bold; color: #FFFFFF; }
		div.footer      { font-size: 10pt; }
		li		{ list-style-image: url(/images/bullet.gif); }
		li.menu		{ list-style-image: url(/images/bullet.gif); }
		ul.menu 	{ margin-left: 1em; }

