<!-- Default style sheet -->
                p               { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; }
                body            { font-family: Verdana, Arial, Helvetica, sans-serif;
                                  font-size: 10pt;
                                  color: black;
                                  background-color: white;}
                h1              { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 20pt; }
                h2              { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 18pt; }
                h3              { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14pt; }
                h4              { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12pt; }
                select          { width: 100pt; background-color: #EFEFEF; border-style: 1px; font-size: 8pt; }
                option          { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; }
                .search         { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #CC6600; background-color: #EFEFEF;}
                .burst          { background: #CC6600 no-repeat center; text-align: center; }
		td		{ font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; }
	
		div		{ font-family: Verdana, Arial, Helvetica, sans-serif; }
		div.title	{ font-weight: bold; font-size: 12pt; }
                div.heading     { font-weight: normal; font-size: 11pt; }
                div.body	{ font-size: 10pt; margin-left: 1em; }
                div.navigation  { font-size: 10pt; }
                div.shortcuts   { font-weight: bold; font-size: 8pt; }
                div.news        { font-style: normal; font-size: 8pt; margin-left: 1em; }
                div.highlight   { font-size: 8pt; font-weight: bold; color: #FFFFFF; }
		div.footer      { font-size: 10pt; }
		ul.menu 	{ margin-left: 1em; }
.note { 
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    color: black;
    background-color: #eeeeee;
    font-size: 9pt;
    margin-left: 2em;
    margin-right: 2em;
}

.heading { 
    font-weight: bold; 
    font-size: 12pt; 
    margin-top: 2em;
}


